{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env"
        ]
      ]
    }
  },
  "plugins": [
    "syntax-dynamic-import"
  ],
  "ignore": [
    "node_modules"
  ]
}