{
  "root": true,
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/no-cycle": 0,
    "no-param-reassign": 0,
    "no-bitwise": [
      "error",
      {
        "allow": [
          "|",
          "|=",
          "&",
          "<<",
          "<<=",
          ">>",
          ">>="
        ]
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
//    "line-comment-position": 0,
    "no-underscore-dangle": 0,
    "no-multi-assign": 0,
    "no-plusplus": 0,
    "camelcase": 0,
    "no-unused-expressions": 0
  }
}
