doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    title JSMpeg Video Test

    style.
      #videoWrapper {
        margin: 20px auto;
        width: 640px;
        height: 360px;
      }

      .buttons-wrapper {
        display: flex;
        margin: 0 auto;
        width: 640px;
        height: 50px;
      }

      .button {
        text-decoration: none;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 10px;
        border: 1px solid #666;
        border-radius: 10px;
        color: #666;
      }

  body
    #videoWrapper
    .buttons-wrapper
      a.button(href="javascript:;", data-action="play") play
      a.button(href="javascript:;", data-action="pause") pause
      a.button(href="javascript:;", data-action="stop") stop
      a.button(href="javascript:;", data-action="destroy") destroy

    each _js in htmlWebpackPlugin.files.js
      script(src=_js)

    //- copy medias into dist dir
    - require('../media/big_buck_bunny_640x360.ts');

    script.
      var videoUrl = './media/big_buck_bunny_640x360.ts';
      // var videoUrl = 'ws://' + document.location.hostname + ':8082/';

      var video = new JSMpeg.VideoElement('#videoWrapper', videoUrl, {
        poster: 'https://cycjimmy.github.io/staticFiles/images/screenshot/big_buck_bunny_640x360.jpg'
      });

      console.log(video);

      document.querySelector('.buttons-wrapper').addEventListener('click', function (e) {
        var target = e.target;

        if (target === this) {
          return;
        }

        var sAction = target.dataset.action;

        if (!sAction) {
          return
        }

        video[sAction]();
      });


