@use "~@cycjimmy/sass-lib" as *;

.canvas,
.poster {
  @extend %full-container;
  display: block;
}

.poster {
  &.hidden {
    display: none;
  }
}

// buttons
%button-common {
  @extend %full-container;

  opacity: .7;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);

  &.hidden {
    display: none;
  }
}

.playButton {
  @extend %button-common;
  @extend %flex-center;
  z-index: 10;

  > svg {
    width: 12vw;
    height: 12vw;
    max-width: 60px;
    max-height: 60px;
    fill: #fff;
  }
}

.unmuteButton {
  @extend %button-common;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  > svg {
    margin: 0 15px 15px 0;
    width: 9vw;
    height: 9vw;
    max-width: 40px;
    max-height: 40px;
    fill: #fff;
  }
}

