%abs {
  position: absolute;
  z-index: 1;
}

%full {
  @extend %abs;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

%keepCenter {
  @extend %abs;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.container {
  position: relative;
  width: 100%;
  min-width: 80px;
  height: 0;
}

.canvas,
.poster {
  @extend %full;
  display: block;
}

%buttonCommon {
  opacity: .7;
  cursor: pointer;
}

%playButtonSize {
  max-width: 60px;
  max-height: 60px;
}

.playButton {
  @extend %keepCenter;
  @extend %playButtonSize;
  z-index: 2;
  @extend %buttonCommon;
}

.playButtonSvg {
  @extend %playButtonSize;
  fill: #fff;
}

.unmuteButton {
  @extend %full;
  z-index: 2;
  @extend %buttonCommon;
}

.unmuteButtonSvg {
  @extend %abs;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  fill: #fff;
}